@model Renter_Capstone.Models.Listing

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Listing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prioirty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prioirty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SquareFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SquareFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.AddressId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ListingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<h2>Map</h2>
<style>
    #map{
        height: 300px;
        width:500px;
    }
</style>
<div class="row">
    <div id="map"></div>
    <script>
        var map;
        var marker;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: @Model.Address.Latitute, lng: @Model.Address.Longitude },
                zoom: 8
            });

            marker = new google.maps.Marker({
                position: { lat: @Model.Address.Latitute, lng: @Model.Address.Longitude},
                map: map
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@ApiKey.GOOGLE_API_KEY&callback=initMap"
            async defer></script>
</div>
