@model IEnumerable<Renter_Capstone.Models.IndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    @using (Html.BeginForm())
    {
        <select name="price" asp-items="@ViewBag.Price"></select>
        <select name="bed" asp-items="@ViewBag.Bed"></select>
        <select name="bath" asp-items="@ViewBag.Bath"></select>
        <select name="roomMates" asp-items="@ViewBag.RoomMates"></select>
        <input type="submit" value="Search" />
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RealEstateListingListing.bathrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealEstateListingListing.bedrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing.NumberOfRoomMates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealEstateListingListing.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing.YearPref)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RealEstateListingListing.bathrooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealEstateListingListing.bedrooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Listing.NumberOfRoomMates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealEstateListingListing.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Listing.YearPref)
                </td>
                <td>
                    <a asp-action="Interested" asp-route-id="@item.Listing.ListingId">Show Interest</a> |
                    <a asp-action="Details" asp-route-id="@item.Listing.ListingId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Listing.ListingId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Map</h2>
<style>
    #map {
        height: 300px;
        width: 500px;
    }
</style>
<div class="row">
    <div id="map"></div>
    <script>
        var map;
        var marker;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 32.7767, lng: -96.7970 },
                zoom: 8
            });
            @foreach(var item in Model)
            {
                <text>marker = new google.maps.Marker({
                position: { lat: @item.Listing.Address.Latitute, lng: @item.Listing.Address.Longitude},
                map: map
                });
                </text>
            }            
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@ApiKey.GOOGLE_API_KEY&callback=initMap"
            async defer></script>
</div>
