@model IEnumerable<Renter_Capstone.Models.Listing>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    @using (Html.BeginForm())
    {
        <select name="cost" asp-items="@ViewBag.Cost"></select>
        <input type="submit" value="Search" />
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prioirty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SquareFeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRoomMates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearPref)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prioirty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SquareFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRoomMates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearPref)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.AddressId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ListingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ListingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ListingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
